{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="m-3 mb-5 border rounded card bg-light mb-3">
                    <div class="card-header">
                        <h4>{{ voucher.nama }}  -  {{voucher.id_voucher}}</h4>
                    </div>
                    <div class="ml-4 row card-body">
                        <div class="col-sm-4 border-right">
                            <small>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <b>Category:</b> {{ voucher.kategori }}
                            </small>
                            <h5>Poin yang dibutuhkan: <b>{{ voucher.nilai_poin }}</b></h5>

                            {% if voucher.nama_claimer == "" %}
                                    Diklaim oleh: -
                            {% else %}
                                    Diklaim oleh: {{ voucher.nama_claimer }}
                            {% endif %}
                        </div>
                        
                        <div class="col-sm-6 ml-3">
                            <b class="row">Deskripsi: </b>
                            <p class="row">{{ voucher.deskripsi }}</p>

                            <form action="{% url 'voucher:v-claim' voucher.id_voucher %}" method="POST">
                                <input type="submit" class="btn btn-success" value="Claim">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}