{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    {% if role == "admin" %}
        <div class="container">
                <form action="{% url 'voucher:v-create' %}" method="POST">
                    <div class="form-group">
                        <label for="nama">nama</label>
                        <input type="text" class="form-control" name="nama" id="nama" value="{{ voucher.nama }}">
                    </div>
                    <div class="form-group">
                        <label for="kategori">kategori</label>
                        <input type="text" class="form-control" name="kategori" id="kategori" value="{{ voucher.kategori }}">
                    </div>
                    <div class="form-group">
                        <label for="nilai_poin">nilai_poin</label>
                        <input type="text" class="form-control" name="nilai_poin" id="nilai_poin" value="{{ voucher.nilai_poin }}">
                    </div>
                    <div class="form-group">
                        <label for="deskripsi">deskripsi</label>
                        <input type="text" class="form-control" name="deskripsi" id="deskripsi" value="{{ voucher.deskripsi }}">
                    </div>
                    <button type="submit" class="btn btn-success">Create Voucher! </button>
                </form>
        </div>
    {% endif %}

    {% if role == "anggota" %}
        <div>You are not Authorized to access this page.</div>
    {% endif %}
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}