{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    {% if role == "admin" %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="m-3 mb-5 border rounded card bg-light mb-3">
                    <div class="card-header">
                        <h4>{{ voucher.nama }}  -  {{voucher.id_voucher}}</h4>
                    </div>
                    <div class="ml-4 row card-body">
                        <div class="col-sm-4 border-right">
                            <small>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <b>Category:</b> {{ voucher.kategori }}
                            </small>
                            <h5>Poin yang dibutuhkan: <b>{{ voucher.nilai_poin }}</b></h5>

                            {% if voucher.nama_claimer == "" %}
                                    Diklaim oleh: -
                            {% else %}
                                    Diklaim oleh: {{ voucher.nama_claimer }}
                            {% endif %}
                        </div>
                        
                        <div class="col-sm-6 ml-3">
                            <b class="row">Deskripsi: </b>
                            <p class="row">{{ voucher.deskripsi }}</p>

                            <form action="{% url 'voucher:v-delete' voucher.id_voucher %}" method="POST">
                                <input type="hidden" class="form-control" name="id_voucher" id="id_voucher" aria-describedby="emailHelp" value="{{voucher.id_voucher}}">
                                <input type="hidden" class="form-control" name="nama" id="nama" value="{{ voucher.nama }}">
                                <input type="hidden" class="form-control" name="kategori" id="kategori" value="{{ voucher.kategori }}">
                                <input type="hidden" class="form-control" name="nilai_poin"  value="{{ voucher.nilai_poin }}">
                                <input type="hidden" class="form-control" name="deskripsi" id="deskripsi" value="{{ voucher.deskripsi }}">
                                <input type="hidden" class="form-control" name="no_kartu_anggota" id="no_kartu_anggota" value="{{ voucher.no_kartu_anggota }}">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if role == "anggota" %}
        <div>You are not Authorized to access this page.</div>
    {% endif %}
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}
