{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    {% if role == "admin" %}
        <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="m-3 mb-5 border rounded card bg-light mb-3">
                            <div class="card-header">
                                <h4>{{ voucher.nama }}  -  {{voucher.id_voucher}}</h4>
                            </div>
                            <div class="ml-4 row card-body">
                                <div class="col-sm-4 border-right">
                                    <small>
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                        <b>Category:</b> {{ voucher.kategori }}
                                    </small>
                                    <h5>Poin yang dibutuhkan: <b>{{ voucher.nilai_poin }}</b></h5>
    
                                    {% if voucher.nama_claimer == "" %}
                                            Diklaim oleh: -
                                    {% else %}
                                            Diklaim oleh: {{ voucher.nama_claimer }}
                                    {% endif %}
                                </div>
                                
                                <div class="col-sm-6 ml-3">
                                    <b class="row">Deskripsi: </b>
                                    <p class="row">{{ voucher.deskripsi }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="container">
                <form action="{% url 'voucher:v-update' voucher.id_voucher %}" method="POST">
                    <div class="form-group">
                        <label for="nama">nama</label>
                        <input type="text" class="form-control" id="nama" name="nama" placeholder="{{ voucher.nama }}">
                    </div>
                    <div class="form-group">
                        <label for="kategori">kategori</label>
                        <input type="text" class="form-control" id="kategori" name="kategori" placeholder="{{ voucher.kategori }}">
                    </div>
                    <div class="form-group">
                        <label for="nilai_poin">nilai_poin</label>
                        <input type="text" class="form-control" id="nilai_poin" name="nilai_poin" placeholder="{{ voucher.nilai_poin }}">
                    </div>
                    <div class="form-group">
                        <label for="deskripsi">deskripsi</label>
                        <input type="text" class="form-control" id="deskripsi" name="deskripsi" placeholder="{{ voucher.deskripsi }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
        </div>
    {% endif %}

    {% if role == "anggota" %}
        <div>You are not Authorized to access this page.</div>
    {% endif %}
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}