{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
	<div class="container">
		<div class="m-1 p-1 mt-3">
			{% if role == "admin" %}
			<div clas="row">
				<a href="{% url 'voucher:v-create' %}"><button type="button" class="btn btn-success">Create Voucher</button></a>
			</div>
			{% endif %}
			{% for voucher in vouchers %}
				<div class="row">
					<div class="col-md-9">
						<div class="m-3 mb-5 border rounded card bg-light mb-3">
							<div class="card-header">
								<h4>{{ voucher.nama }}  -  {{voucher.id_voucher}}</h4>
							</div>
							<div class="ml-4 row card-body">
								<div class="col-sm-4 border-right">
									<small>
										<span class="glyphicon glyphicon-map-marker"></span>
										<b>Category:</b> {{ voucher.kategori }}
									</small>
									<h5>Poin yang dibutuhkan: <b>{{ voucher.nilai_poin }}</b></h5>
	
									{% if voucher.nama_claimer == "" %}
											Diklaim oleh: -
									{% else %}
											Diklaim oleh: {{ voucher.nama_claimer }}
									{% endif %}
								</div>
								
								<div class="col-sm-6 ml-3">
									<b class="row">Deskripsi: </b>
									<p class="row">{{ voucher.deskripsi }}</p>

									{% if role == "admin" %}
										<a href="{% url 'voucher:v-update' voucher.id_voucher %}"><button type="button" class="btn btn-primary">Update</button></a>
										{% if voucher.nama_claimer == "" %}
											<a href="{% url 'voucher:v-delete' voucher.id_voucher %}"><button type="button" class="btn btn-danger">Delete</button></a>
										{% endif %}
									{% elif role == "anggota" and voucher.nama_claimer == ""%}
										<a href="{% url 'voucher:v-claim' voucher.id_voucher %}"><button type="button" class="btn btn-light" href="">Claim!</button></a>
								{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}