{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    {% if role == "admin" %}
        <div class="container">
                <form action="{% url 'event:create' %}" method="POST">
                    <div class="form-group">
                        <label for="judul"><b>Judul</b></label>
                        <input type="text" name="judul" class="form-control" id="judul" placeholder="{{ event.judul }}" required>
                    </div>
                    <div class="form-group">
                        <label for="deskripsi"><b>Deskripsi</b></label>
                        <input type="text" name="deskripsi" class="form-control" id="deskripsi" placeholder="{{ event.deskripsi }}" required>
                    </div>
                    <div class="form-group">
                        <label for="gratis"><b>Gratis</b></label>
                        <select class="form-control" id="gratis" name="gratis" required>
                            <option value="True">Ya</option>
                            <option value="False">Tidak</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_mulai"><b>Tanggal Mulai</b></label>
                        <input type="date" name="tanggal_mulai" class="form-control" id="tanggal_mulai" required>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_selesai"><b>Tanggal Selesai</b></label>
                        <input type="date" name="tanggal_selesai" class="form-control" id="tanggal_selesai" required>
                    </div>
                    <div class="form-group">
                        <label for="stasiun"><b>Stasiun</b> <i>(hold CTRL or CMD to select multiple)</i></label><br>
                        <select class="form-control" id="stasiun" name="stasiun" size="10" multiple required>
                            {% for s in stasiun %}
                            <option value="{{ s.id_stasiun }}">{{ s.nama }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <button type="submit" class="btn btn-success">Create events!</button>
                </form>
        </div>
    {% endif %}

    {% if role == "anggota" or role == "petugas" %}
        <div>You are not Authorized to access this page.</div>
    {% endif %}
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}