{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
 <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
 <div class="container">
  {% if role == "admin" %}
   <div clas="row">
    <a href="{% url 'event:create' %}"><button type="button" class="btn btn-success">Create event</button></a>
   </div>
  {% endif %}
  <div class="row">
    <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
       <tr>
        <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="id
        : activate to sort column ascending">No
        </th>
        <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="judul
        : activate to sort column ascending">Judul
        </th>
        <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="deskripsi
        : activate to sort column ascending">Deskripsi
        </th>
        <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="gratis
        : activate to sort column ascending">Is Free
        </th>
        <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="tanggal_mulai
        : activate to sort column ascending">Tanggal Mulai
        </th>
        <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="tanggal_selesai
        : activate to sort column ascending">Tanggal Akhir
        </th>
        {% if role == "admin" %}
        <th class="th-sm">ACTION
        </th>
        {% endif %}
       </tr>
      </thead>
      <tbody>
     {% for event in events %}
     <tr>
      <td>{{ event.id_event }}</td>
      <td>{{ event.judul }}</td>
      <td>{{ event.deskripsi }}</td>
      {% if event.gratis %}
      <td>Ya</td>
      {% else %}
      <td>Tidak</td>
      {% endif %}
      <td>{{ event.tanggal_mulai|date:"j F Y" }}</td>
      <td>{{ event.tanggal_selesai|date:"j F Y" }}</td>
      {% if role == "admin" %}
       <td>
         <a href="{% url 'event:update' event.id_event %}"><button type="button" class="btn btn-primary">Update</button></a>
         <a href="{% url 'event:delete' event.id_event %}"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button></a>
      </td>
      {% endif %}
       </tr>
    {% endfor %}
   </tbody>
  </table>
 </div>
</div>
</div>

 <footer class="container-fluid text-center">
  <p>2019, ShareBike team.</p> 
 </footer>
 <script>
   $(document).ready(function() {
    $('#dtBasicExample').DataTable();
    });
 </script>
{% endblock %}