{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    {% if role == "admin" %}
        <div class="container">
            <form action="{% url 'event:update' event.id_event %}" method="POST">
                <div class="form-group">
                        <label for="judul"><b>Judul</b></label>
                        <input type="text" name="judul" class="form-control" id="judul" placeholder="Judul" value="{{ event.judul }}" required>
                    </div>
                    <div class="form-group">
                        <label for="deskripsi"><b>Deskripsi</b></label>
                        <input type="text" name="deskripsi" class="form-control" id="deskripsi" placeholder="Deskripsi" value="{{ event.deskripsi }}" required>
                    </div>
                    <div class="form-group">
                        <label for="gratis"><b>Gratis</b></label>
                        <select class="form-control" id="gratis" name="gratis" required>
                            {% if event.gratis %}
                            <option value="True" selected="selected">Ya</option>
                            <option value="False">Tidak</option>
                            {% else %}
                            <option value="True">Ya</option>
                            <option value="False" selected="selected">Tidak</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_mulai"><b>Tanggal Mulai</b></label>
                        <input type="date" name="tanggal_mulai" class="form-control" id="tanggal_mulai" value="{{ event.tanggal_mulai|date:'Y-m-d' }}" required>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_selesai"><b>Tanggal Selesai</b></label>
                        <input type="date" name="tanggal_selesai" class="form-control" id="tanggal_selesai" value="{{ event.tanggal_selesai|date:'Y-m-d' }}" required>
                    </div>
                    <div class="form-group">
                        <label for="stasiun"><b>Stasiun</b> <i>(hold CTRL or CMD to select multiple)</i></label><br>
                        <select class="form-control" id="stasiun" name="stasiun" size="10" multiple required>
                            {% for s in stasiun %}
                                {% if s.selected %}
                                <option value="{{ s.id_stasiun }}" selected>{{ s.nama }}</option>
                                {% else %}
                                <option value="{{ s.id_stasiun }}">{{ s.nama }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endif %}

    {% if role == "anggota" or role == "petugas" %}
        <div>You are not Authorized to access this page.</div>
    {% endif %}
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}