{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    {% if role == "admin" %}
        <div class="container">
                <div class="row">
                        <div class="col-md-9">
                            <div class="m-3 mb-5 border rounded card bg-light mb-3">
                                <div class="card-header">
                                    <h4>{{ station.name }}</h4>
                                </div>
                                <div class="ml-4 row card-body">
                                    <div class="col-sm-7 border-right">
                                            <div class="row"><b>Koordinat:&nbsp</b> {{ station.coord }} </div>
                                            <div class="row"><b>Alamat:&nbsp</b> {{ station.addr }} </div>
                                            <div class="row"><b>Jumlah sepeda tersedia:&nbsp</b> {{ station.bike_amt }}  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

        <div class="container">
                <form action="{% url 'stations:update' %}" method="POST">
                    <div class="form-group">
                        <label for="name">Nama</label>
                        <input type="text" class="form-control" id="name" placeholder="{{ station.name }}">
                    </div>
                    <div class="form-group">
                        <label for="coord">Koordinat</label>
                        <input type="text" class="form-control" id="coord" placeholder="{{ station.coord }}">
                    </div>
                    <div class="form-group">
                        <label for="addr">Alamat</label>
                        <input type="text" class="form-control" id="addr" placeholder="{{ station.addr }}">
                    </div>
                    <div class="form-group">
                        <label for="bike_amt">Jumlah Sepeda</label>
                        <input type="text" class="form-control" id="bike_amt" placeholder="{{ station.bike_amt }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
        </div>
    {% endif %}

    {% if role == "anggota" %}
        <div>You are not Authorized to access this page.</div>
    {% endif %}
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}