{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    {% if role == "admin" %}
        <div class="container">
                <div class="row">
                        <div class="col-md-9">
                            <div class="m-3 mb-5 border rounded card bg-light mb-3">
                                <div class="card-header">
                                    <h4>{{ bike.nomor }}  -  {{bike.merk}}</h4>
                                </div>
                                <div class="ml-4 row card-body">
                                    <div class="col-sm-4 border-right">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                        <b>Jenis:&nbsp</b> {{ bike.jenis }} </br>
                                        <b>Penyumbang:&nbsp</b> {{ bike.penyumbang }} </br>
                                        <b>Stasiun:&nbsp</b> {{ bike.stasiun }} </br>
                                        <h5>Status:&nbsp<b>{{ bike.status }}</b></h5>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

        <div class="container">
                <form action="{% url 'bikes:update' %}" method="POST">
                    <div class="form-group">
                        <label for="nomor">Nomor</label>
                        <input type="text" class="form-control" id="nomor" placeholder="{{ bike.nomor }}">
                    </div>
                    <div class="form-group">
                        <label for="merk">Merk</label>
                        <input type="text" class="form-control" id="merk" placeholder="{{ bike.merk }}">
                    </div>
                    <div class="form-group">
                        <label for="jenis">Jenis</label>
                        <input type="text" class="form-control" id="jenis" placeholder="{{ bike.jenis }}">
                    </div>
                    <div class="form-group">
                        <label for="penyumbang">Penyumbang</label>
                        <input type="text" class="form-control" id="penyumbang" placeholder="{{ bike.penyumbang }}">
                    </div>
                    <div class="form-group">
                            <label for="stasiun">Stasiun</label>
                            <input type="text" class="form-control" id="stasiun" placeholder="{{ bike.stasiun }}">
                        </div>
                    <div class="form-group">
                            <label for="status">Status</label>
                            <input type="text" class="form-control" id="status" placeholder="{{ bike.status }}">
                        </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
        </div>
    {% endif %}

    {% if role == "anggota" %}
        <div>You are not Authorized to access this page.</div>
    {% endif %}
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}