{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
 <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block body %}
 <div class="container">
  {% if role == "admin" %}
   <div clas="row">
    <a href="{% url 'task:create' %}"><button type="button" class="btn btn-success">Create Task</button></a>
   </div>
  {% endif %}
  <div class="row">
   <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
     <tr>
      <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="id
      : activate to sort column ascending">No
      </th>
      <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="petugas
      : activate to sort column ascending">Petugas
      </th>
      <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="tanggal_mulai
      : activate to sort column ascending">Tanggal Mulai
      </th>
      <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="tanggal_selesai
      : activate to sort column ascending">Tanggal Akhir
      </th>
      <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="stasiun
      : activate to sort column ascending">Stasiun
      </th>
      {% if role == "admin" %}
        <th class="th-sm">ACTION
        </th>
        {% endif %}
     </tr>
    </thead>
    <tbody>
     {% for task in tasks %}
     <tr>
      <td>{{ task.id_task }}</td>
      <td>{{ task.no_ktp }} - {{ task.nama_petugas }}</td>
      <td>{{ task.tanggal_mulai|date:"j F Y" }}</td>
      <td>{{ task.tanggal_selesai|date:"j F Y" }}</td>
      <td>{{ task.id_stasiun }} - {{ task.nama_stasiun }}</td>
      {% if role == "admin" %}
      <td>
        <a href="{% url 'task:update' ktp=task.no_ktp tgl_mulai=task.tanggal_mulai id_stasiun=task.id_stasiun %}"><button type="button" class="btn btn-primary">Update</button></a>
        <a href="{% url 'task:delete' ktp=task.no_ktp tgl_mulai=task.tanggal_mulai id_stasiun=task.id_stasiun %}"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button></a>
     </td>
     {% endif %}
     </tr>
     {% endfor %}
    </tbody>
   </table>
  </div>
 </div>

 <footer class="container-fluid text-center">
  <p>2019, ShareBike team.</p> 
 </footer>
 <script>
    $(document).ready(function() {
     $('#dtBasicExample').DataTable();
     });
  </script>
{% endblock %}