{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    {% if role == "admin" %}
        <div class="container">
                <form action="{% url 'task:update' ktp=task.no_ktp tgl_mulai=task.tanggal_mulai id_stasiun=task.id_stasiun %}" method="POST">
                    <div class="form-group">
                        <label for="petugas"><b>Petugas</b></label>
                        <select class="form-control" id="petugas" name="petugas" required>
                            {% for p in petugas %}
                            {% if p.no_ktp == task.no_ktp %}
                            <option value="{{ p.no_ktp }}" selected="selected">{{ p.nama_petugas }}</option>
                            {% else %}
                            <option value="{{ p.no_ktp }}">{{ p.nama_petugas }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                            <label for="tanggal_mulai"><b>Tanggal Mulai</b></label>
                            <input type="date" name="tanggal_mulai" class="form-control" id="tanggal_mulai" value="{{ task.tanggal_mulai|date:'Y-m-d' }}" required>
                        </div>
                        <div class="form-group">
                            <label for="tanggal_selesai"><b>Tanggal Selesai</b></label>
                            <input type="date" name="tanggal_selesai" class="form-control" id="tanggal_selesai" value="{{ task.tanggal_selesai|date:'Y-m-d' }}" required>
                        </div>
                    <div class="form-group">
                        <label for="stasiun"><b>Stasiun</b></label>
                        <select class="form-control" id="stasiun" name="stasiun" required>
                            {% for s in stasiun %}
                            {% if s.id_stasiun == task.id_stasiun %}
                            <option value="{{ s.id_stasiun }}" selected="selected">{{ s.nama }}</option>
                            {% else %}
                            <option value="{{ s.id_stasiun }}">{{ s.nama }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
    {% endif %}

    {% if role == "anggota" or role == "petugas" %}
        <div>You are not Authorized to access this page.</div>
    {% endif %}
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}