{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike - Daftar{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'login/style.css' %}">
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}


{% block body %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="{% url 'landing_page:index' %}">ShareBike</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Masuk</a></li>
					<li><a href="#">Daftar</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<br>
	<br>
	<br>
	<div class="container">
		<div class="text-center">
			<h1>Daftar BikeShare</h1>
			<h4>Pilih jabatan yang ingin didaftarkan.</h4>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<h3>Pengguna</h3>
					</div>
					<br>
					<span class="logo glyphicon glyphicon-user"></span>
					<div class="panel-body">
						<p>Gunakan BikeShare untuk menyewa sepeda.</p>
						<p>Ikuti acara-acara yang akan diadakan di stasiun-stasiun tertentu.</p>
					</div>
					<div class="panel-footer">
						<a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#regist_user">Daftar sebagai pengguna!</a>
					</div>
				</div> 
			</div> 
			<div class="col-sm-6">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<h3>Petugas</h3>
					</div>
					<br>
					<span class="logo glyphicon glyphicon-dashboard"></span>
					<div class="panel-body">
						<p>Bertugaslah untuk menjaga di suatu stasiun.</p>
						<p>Dapatkan gaji dari pihak BikeShare.</p>
					</div>
					<div class="panel-footer">
						<a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#regist_worker">Daftar sebagai petugas!</a>
					</div>
				</div> 
			</div> 
		</div>
	</div>

<br><br>

<footer class="container-fluid text-center">
	<p>2019, ShareBike team.</p> 
</footer>

<div id="regist_user" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Daftar</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" action="#">
					<div class="form-group">
						<label class="control-label col-sm-2" for="ktp">
							Nomor KTP*
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ktp"
							placeholder="Masukkan nomor KTP">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="name">
							Nama Lengkap*
						</label>
						<div class="col-sm-10"> 
							<input type="text" class="form-control" id="name"
							placeholder="Masukkan nama lengkap">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="email">
							Alamat Email*
						</label>
						<div class="col-sm-10"> 
							<input type="email" class="form-control" id="email"
							placeholder="Masukkan alamat email">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="birthdate">
							Tanggal Lahir*
						</label>
						<div class="col-sm-10"> 
							<input type="date" class="form-control" id="birthdate">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="phone">
							Nomor Telepon
						</label>
						<div class="col-sm-10"> 
							<input type="text" class="form-control" id="phone"
							placeholder="Masukkan nomor telepon">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="addr">
							Alamat
						</label>
						<div class="col-sm-10"> 
							<input type="text" class="form-control" id="addr"
							placeholder="Masukkan alamat singkat">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd">
							Kata Sandi*
						</label>
						<div class="col-sm-10"> 
							<input type="password" class="form-control" id="pwd"
							placeholder="Masukkan kata sandi">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd-confirm">
							Konfirmasi Kata Sandi*
						</label>
						<div class="col-sm-10"> 
							<input type="password" class="form-control" id="pwd-confirm"
							placeholder="Masukkan kembali kata sandi">
						</div>
					</div>

					<div class="form-group"> 
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-block btn-primary">
								Daftar sebagai pengguna!
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Batal daftar</button>
			</div>
		</div>
	</div>
</div>

<div id="regist_worker" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Daftar</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" action="#">
					<div class="form-group">
						<label class="control-label col-sm-2" for="ktp">
							Nomor KTP*
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ktp"
							placeholder="Masukkan nomor KTP">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="name">
							Nama Lengkap*
						</label>
						<div class="col-sm-10"> 
							<input type="text" class="form-control" id="name"
							placeholder="Masukkan nama lengkap">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="email">
							Alamat Email*
						</label>
						<div class="col-sm-10"> 
							<input type="email" class="form-control" id="email"
							placeholder="Masukkan alamat email">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="birthdate">
							Tanggal Lahir*
						</label>
						<div class="col-sm-10"> 
							<input type="date" class="form-control" id="birthdate">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="phone">
							Nomor Telepon
						</label>
						<div class="col-sm-10"> 
							<input type="text" class="form-control" id="phone"
							placeholder="Masukkan nomor telepon">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="addr">
							Alamat
						</label>
						<div class="col-sm-10"> 
							<input type="text" class="form-control" id="addr"
							placeholder="Masukkan alamat singkat">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd">
							Kata Sandi*
						</label>
						<div class="col-sm-10"> 
							<input type="password" class="form-control" id="pwd"
							placeholder="Masukkan kata sandi">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd-confirm">
							Konfirmasi Kata Sandi*
						</label>
						<div class="col-sm-10"> 
							<input type="password" class="form-control" id="pwd-confirm"
							placeholder="Masukkan kembali kata sandi">
						</div>
					</div>

					<div class="form-group"> 
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-block btn-primary">
								Daftar sebagai petugas!
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Batal daftar</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}