{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block body %}
	{% if role == "anggota" or role == "admin"  %}
	<div class="container">
		<div class="m-1 p-1 mt-3"></div>
			{% for station in stations %}
				<div class="row">
					<div class="col-md-9">
						<div class="m-3 mb-5 border rounded card bg-light mb-3">
							<div class="card-header">
								<h4>{{ station.name }}</h4>
							</div>
							<div class="ml-4 row card-body">
								<div class="col-sm-7 border-right">
										<div class="row"><b>Koordinat:&nbsp</b> {{ station.coord }} </div>
                                        <div class="row"><b>Alamat:&nbsp</b> {{ station.addr }} </div>
                                        <div class="row"><b>Jumlah sepeda tersedia:&nbsp</b> {{ station.bike_amt }}  </div>
                                </div>
                                
                                <div class="col-sm-4 ml-3">
                                    {% if station.bike_amt > 0 %}
									<a href="#" class="btn btn-block btn-primary">Sewa Sepeda</a>
									{% endif %}
								
									{% if role == "admin" %}
										<a href="{%url 'stations:update' %}" class="btn btn-block btn-primary">Update</a>
										<a href="{%url 'stations:delete' %}" class="btn btn-block btn-danger">Delete</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	</div>

	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}