{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}

	<link rel="stylesheet" href="{% static 'landing_page/main_css.css' %}">

{% endblock %}


{% block body %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="">ShareBike</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-toggle="modal" data-target="#loginModal">Masuk</a></li>
					<li><a href="{% url 'register:index' %}">Daftar</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div id="loginModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Masuk</h4>
			</div>
			<div class="modal-body">
		<form class="form-horizontal" action="#">
			<div class="form-group">
				<label class="control-label col-sm-2" for="ktp">
					KTP
				</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="ktp"
					placeholder="Masukkan nomor KTP">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">
					Email
				</label>
				<div class="col-sm-10"> 
					<input type="email" class="form-control" id="email"
					placeholder="Masukkan alamat email">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">
					Kata Sandi
				</label>
				<div class="col-sm-10"> 
					<input type="password" class="form-control" id="pwd"
					placeholder="Masukkan kata sandi">
				</div>
			</div>

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-block btn-primary">
					Masuk!</button>
				</div>
			</div>
		</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Batal masuk</button>
			</div>
		</div>
	</div>
</div>

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="{% static 'landing_page/bg.jpg' %}" alt="New York">
				<div class="carousel-caption">
					<h3>Bersepeda tidak akan penah menjadi lebih mudah lagi.</h3>
					<p>Dengan ShareBike, anda hanya perlu mendaftar, dan akses ShareBike seluruh kota akan menjadi milik anda.</p>
				</div> 
			</div>
		</div>
	</div>

	<div class="jumbotron text-center">
		<h1>ShareBike</h1>
		<p>Layanan penyewaan sepeda yang aman dan praktis.</p>
	</div>

	<div class="container-fluid text-center">
		<h4>Mengapa menggunakan sharebike?</h4>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<span class="logo glyphicon glyphicon-forward"></span>
				<h4>Praktis</h4>
				<p>Cukup scan barcode untuk meminjam sepeda.</p>
			</div>
			<div class="col-sm-4">
				<span class="logo glyphicon glyphicon-usd"></span>
				<h4>Murah</h4>
				<p>Biaya peminjaman sepeda terjangkau.</p>
			</div>
			<div class="col-sm-4">
				<span class="logo glyphicon glyphicon-tree-conifer"></span>
				<h4>Ramah Lingkungan</h4>
				<p>Penggunaan sepeda tidak menimbulkan polusi.</p>
			</div>
		</div>
	</div>

	<br><br>
	
	<div class="text-center">
		<h4>Tunggu apa lagi?</h4>
		<a href="{% url 'register:index' %}" class="btn btn-primary btn-lg">Daftar sekarang!</a>
		<p>Anda hanya perlu KTP untuk mendaftar!</p>
	</div>

	<br><br>

	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}