{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
    {% if role == "anggota" %}
        <div class="container">
                <form action="{% url 'rents:create' %}" method="POST">
                        <select class="custom-select custom-select-lg mb-3" name="bike">
                            <option selected="selected" disabled>id_stasiun - nomor_sepeda</option>
                            {% for bike in bikes %}
                                <option value="{{ bike.id_stasiun }}.{{ bike.nomor }}">{{ bike.id_stasiun }} - {{ bike.nomor }}</option>
                            {% endfor %}
                        </select>
                    <button type="submit" class="btn btn-success">Rent a bike! </button>
                </form>
        </div>
    {% endif %}

    {% if role != "anggota" %}
        <div>You are not Authorized to access this page.</div>
    {% endif %}
	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}