{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block body %}
	{% if role == "anggota" or role == "admin"  %}
	<div class="container">
		<div class="m-1 p-1 mt-3">
			{% if role == "anggota"  %}
				<div class="row">
					<a href="{% url 'rents:create' %}"><button type="button" class="btn btn-success">Create a New Rent!</button></a>
				</div>
			{% endif %}
			{% for rent in rents %}
				<div class="row">
					<div class="col-md-9">
						<div class="m-3 mb-5 border rounded card bg-light mb-3">
							<div class="card-header">
								<h4>{{ rent.datetime_pinjam }}  <b>-</b>  {{rent.datetime_kembali}}</h4>
							</div>
							<div class="ml-4 row card-body">
								<div class="col-sm-7 border-right">
										<div class="row"><b>No. Pengguna: </b> {{ rent.no_kartu_anggota }} </div>
										<div class="row"><b>No. Sepeda: </b> {{ rent.nomor_sepeda }}  </div>
										<div class="row"><b>No. Stasiun: </b> {{ rent.id_stasiun }} </div>
								</div>
								
								<div class="col-sm-4 ml-3">
									<div class="row mb-3">
										<div class="col-sm-5"><b>Biaya: </b>{{ rent.biaya }}</div>
										<div class="col-sm-5"><b>Denda: </b>{{ rent.denda }}</div>
									</div>

									{% if role == "anggota" and rent.datetime_kembali == "None" %}
									<form action="{% url 'rents:update' %}" method="POST">
										<input type="hidden" class="form-control" name="datetime_pinjam" id="datetime_pinjam" value={{rent.datetime_pinjam}}>
										<input type="hidden" class="form-control" name="no_kartu_anggota" id="no_kartu_anggota" value="{{ rent.no_kartu_anggota }}">
										<input type="hidden" class="form-control" name="nomor_sepeda" id="nomor_sepeda" value="{{ rent.nomor_sepeda }}">
										<input type="hidden" class="form-control" name="id_stasiun" id="id_stasiun" value="{{ rent.id_stasiun }}">
										<input type="submit" class="btn btn-primary" value="Kembalikan Sepeda">
									</form>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	</div>

	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}