{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike - Masuk{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'login/style.css' %}">
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}


{% block body %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#">ShareBike</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Masuk</a></li>
					<li><a href="#">Daftar</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br><br><br><br>
	<div class="container">
		<div class="row">
			<div class="col col-sm-3"></div>
			<div class="col col-sm-6">
						<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Masuk ShareBike</h3>
				<h5>halo {{ account_name }}</h5>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" action="{% url 'login:index' %}" method="POST">
					<div class="form-group">
						<label class="control-label col-sm-2" for="ktp">
							Nomor KTP
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ktp" name="ktp"
							placeholder="Masukkan nomor KTP">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="email">
							Alamat Email
						</label>
						<div class="col-sm-10"> 
							<input type="email" class="form-control" id="email" name="email"
							placeholder="Masukkan alamat email">
						</div>
					</div>

					<div class="form-group"> 
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-block btn-primary">
							Masuk!</button>
						</div>
					</div>
				</form>
			</div>
		</div>
			</div>
			<div class="col col-sm-3"></div>
		</div>
	</div>

<br><br>

<footer class="container-fluid text-center">
	<p>2019, ShareBike team.</p> 
</footer>
{% endblock %}