<div id="loginModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Masuk</h4>
			</div>
			<div class="modal-body">
		<form class="form-horizontal" action="{% url 'voucher:index' %}" method="POST">
			<div class="form-group">
				<label class="control-label col-sm-2" for="ktp">
					KTP
				</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="ktp" name="ktp"
					placeholder="Masukkan nomor KTP">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">
					Email
				</label>
				<div class="col-sm-10"> 
					<input type="email" class="form-control" id="email" name="email"
					placeholder="Masukkan alamat email">
				</div>
			</div>

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" class="btn btn-block btn-primary" value="masuk!">
				</div>
			</div>
		</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Batal masuk</button>
			</div>
		</div>
	</div>
</div>