{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike - Isi Ulang{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}


{% block body %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#">
					ShareBike
				</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">
						{{ account_name }}
						<span class="badge">{{ account_balance }}</span>
					</a></li>
					<li><a href="#">Cari stasiun</a></li>
					<li><a href="#">Pinjaman Saya</a></li>
					<li><a href="#">ShareBike Pay</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br><br><br>

	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Top-up BikeShare Pay</h4>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="usr">Masukkan nominal</label>
							<input type="text" class="form-control" id="usr">
						</div>
						<a href="#" class="btn btn-block btn-primary">Isi ulang</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="panel">
					<div class="panel-body">
						<h2>{{ account_name }}</h2>
						<p><span class="glyphicon glyphicon-user"></span> Pengguna</p>
						<hr>
						<table class="table-condensed">
							<tr>
								<td>Saldo BikeShare Pay</td>
								<td>{{ account_balance }}</td>
							</tr>
							<tr>
								<td>Poin Voucher</td>
								<td>0</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}