.panel-heading {
	color: #fff !important;
	background-color: #b78433 !important;
}

.panel-footer {
  background-color: #fff !important;
}

.panel {
  border: 1px solid #775622; 
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.logo {
	color: #b78433;
	font-size: 100px;
}

.jumbotron {
	background-color: #b78433;
	color: #ffffff;
}

html, body {
	background: #f9f4eb;
}

.logo {
	color: #b78433;
	font-size: 50px;
}

.jumbotron {
	background-color: #b78433;
	color: #ffffff;
}

footer {
	background-color: #2d2d30;
	color: #f5f5f5;
	padding: 32px;
}
