{% extends "html_base.html" %}
{% load staticfiles %}


{% block title %}ShareBike{% endblock %}


{% block local_static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
	<div class="container">
		<div class="m-1 p-1 mt-3">
			{% for bike in bikes %}
				<div class="row">
					<div class="col-md-9">
						<div class="m-3 mb-5 border rounded card bg-light mb-3">
							<div class="card-header">
								<h4>{{ bike.nomor }}  -  {{bike.merk}}</h4>
							</div>
							<div class="ml-4 row card-body">
								<div class="col-sm-4 border-right">
									<span class="glyphicon glyphicon-map-marker"></span>
									<b>Jenis:&nbsp</b> {{ bike.jenis }} </br>
									<b>Penyumbang:&nbsp</b> {{ bike.penyumbang }} </br>
									<b>Stasiun:&nbsp</b> {{ bike.stasiun }} </br>
									<h5>Status:&nbsp<b>{{ bike.status }}</b></h5>
									
								</div>
								
								<div class="col-sm-6 ml-3">
									{% if bike.status == "Tersedia" %}
										<a href="#" class="btn btn-block btn-primary">Pinjam</a>
									{% endif %}

									{% if role == "admin" %}
										<a href="{% url 'bikes:update' %}" class="btn btn-block btn-primary">Update</a>
										<a href="{% url 'bikes:delete' %}" class="btn btn-block btn-danger">Delete</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<footer class="container-fluid text-center">
		<p>2019, ShareBike team.</p> 
	</footer>
{% endblock %}